{% extends 'base.html.twig' %}

{% block title %}Agency{% endblock %}

{% block body %}
    <h1>Agencia {{agency.number}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agency.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ agency.number }}</td>
            </tr>
            <tr>
                <th>Banco</th>
                <td>{{ agency.bank ? agency.bank.name : 'NA' }}</td>
            </tr>
            <tr>
                <th>Gerente</th>
                <td>{{ agency.manager ? agency.manager.name : 'NA' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex align-items-center justify-content-between py-3">
        <a class="btn btn-outline-dark" href="{{ path('app_agency_index') }}">Voltar a Lista</a>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a class="btn btn-dark" href="{{ path('app_agency_edit', {'id': agency.id}) }}">Editar Agencia</a>
        {% endif %}
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <h2 class="border-bottom py-3 my-3">Ações</h2>
        {{ include('agency/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
