{% extends 'base.html.twig' %}

{% block title %}Agency{% endblock %}

{% block body %}
    <h1>Agency</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agency.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ agency.number }}</td>
            </tr>
            <tr>
                <th>Bank</th>
                <td>{{ agency.bank ? agency.bank.name : 'NA' }}</td>
            </tr>
            <tr>
                <th>Manager</th>
                <td>{{ agency.manager ? agency.manager.name : 'NA' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_agency_index') }}">back to list</a>

    <a href="{{ path('app_agency_edit', {'id': agency.id}) }}">edit</a>

    {{ include('agency/_delete_form.html.twig') }}
{% endblock %}
