{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h3>Lista de Contas ({{accounts|length}})</h3>
        <a href="{{ path('app_account_new') }}" class="btn btn-outline-dark fw-bold">Criar Conta</a>
    </div>

    {% if is_granted('ROLE_USER')
        and app.user.roles|length == 1
        and accounts|filter(acc => acc.status == 0)|length > 0
    %}
        <div class="alert alert-warning py-1 my-4" role="alert">
            <i class="fa fa-exclamation-circle text-danger me-2"></i>
            Atenção! a(s) conta(s) {{ accounts|filter(acc => acc.status == 0)|join(', ') }} está(ão) inativa(s). 
            Aguarde a aprovação da conta para começar a realizar transações.
        </div>
    {% endif %}

    <div class="table-responsive-sm mt-4">
        <table class="table table-borderless table-striped">
            <caption class="mt-4">Lista de Contas</caption>
            <thead class="fs-5 border-top">
                <tr>
                    {# <th>Id</th> #}
                    <th>Número da Conta</th>
                    <th>Criado em:</th>
                    <th>Atualizado em:</th>
                    <th>Saldo Atual</th>
                    <th>Agencia | Banco</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            
            {# {% if is_granted('ROLE_MANAGER') and app.user.roles|length == 2 %}
                {% for account in accounts|sort((a, b) => a.number <=> b.number) %}
            {% else %}
                {% for account in accounts|filter(acc => acc.status != 3)|sort((a, b) => a.number <=> b.number) %}
            {% endif %} #}
            
            {% for account in accounts|sort((a, b) => a.number <=> b.number) %}
                <tr>
                    {# <td>
                        <i class="badge bg-primary">{{ account.id }}</i>
                    </td> #}
                    <td>{{ account.number }}</td>
                    <td>{{ account.createdAt|date('d/m/y H:i:s', "America/Sao_paulo") }}</td>
                    <td>{{ account.updatedAt|date('d/m/y H:i:s', "America/Sao_paulo") }}</td>
                    <td>{{ account.balance|format_currency('BRL') }}</td>
                    <td class="d-flex flex-row gap-2 align-items-top flex-1">
                        <a class="btn btn-sm text-decoration-none btn-link px-0" href="{{ path('app_agency_show', {'id': account.agency.id}) }}">
                            {{account.agency}} -
                        </a>
                        <a class="btn btn-sm text-decoration-none btn-link px-0" href="{{ path('app_bank_show', {'id': account.agency.bank.id}) }}">
                            {{account.agency.bank}}
                        </a>
                    </td>
                    
                    <td>
                    {% if account.status == 0 %}
                        Inativa
                    {% elseif account.status == 1 %}
                        Ativa
                    {% elseif account.status == 2 %}
                        Aguardando encerramento
                    {% elseif account.status == 3 %}
                        <span class="text-danger">Encerrada</span>
                    {% endif %}
                    </td>

                    <td>
                        <a class="btn btn-sm" href="{{ path('app_account_show', {'id': account.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        {% if account.status != 3 %}
                            <a class="btn btn-sm" href="{{ path('app_account_edit', {'id': account.id}) }}">
                                <i class="fa fa-edit"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr class="text-center">
                    <td colspan={{7}}>Não há contas cadastradas.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
