{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h3>Lista de Contas ({{accounts|length}})</h3>
        <a href="{{ path('app_account_new') }}" class="btn btn-outline-dark fw-bold">Criar Conta</a>
    </div>

    {% if is_granted('ROLE_USER') and app.user.roles|length == 1 %}
        <div class="alert alert-warning py-1 my-4" role="alert">
            <i class="fa fa-exclamation-circle text-danger me-2"></i>
            Atenção! a(s) conta(s) {{ accounts|filter(acc => not acc.isActive)|join(', ') }} está(ão) inativa(s). 
            Aguarde a aprovação da conta para começar a realizar transações.
        </div>
    {% endif%}

    <div class="table-responsive-sm mt-4">
        <table class="table table-borderless table-striped">
            <caption class="mt-4">Lista de Contas</caption>
            <thead class="fs-5 border-top">
                <tr>
                    {# <th>Id</th> #}
                    <th>Número da Conta</th>
                    <th>Criado em:</th>
                    <th>Atualizado em:</th>
                    <th>Saldo Atual</th>
                    <th>Agencia | Banco</th>
                        <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for account in accounts|sort((a, b) => a.number <=> b.number) %}
                <tr>
                    {# <td>
                        <i class="badge bg-primary">{{ account.id }}</i>
                    </td> #}
                    <td>{{ account.number }}</td>
                    <td>{{ account.createdAt|date('d/m/y H:i:s', "America/Sao_paulo") }}</td>
                    <td>{{ account.updatedAt|date('d/m/y H:i:s', "America/Sao_paulo") }}</td>
                    <td>{{ account.balance|format_currency('BRL') }}</td>
                    <td>{{ account.agency }} - {{account.agency.bank}}</td>
                    <td>{{ account.isActive ? 'Ativa' : 'Inativa' }}</td>
                    <td>
                        <a class="btn btn-sm" href="{{ path('app_account_show', {'id': account.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-sm" href="{{ path('app_account_edit', {'id': account.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr class="text-center">
                    <td colspan={{6}}>Não há contas cadastradas.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
