{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h3>Lista de Contas ({{accounts|length}})</h3>
        <a href="{{ path('app_account_new') }}" class="btn btn-outline-dark fw-bold">Criar Conta</a>
    </div>

    <div class="table-responsive-sm mt-4">
        <table class="table table-borderless table-striped">
            <caption class="mt-4">Lista de Contas</caption>
            <thead class="fs-5 border-top">
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th>Id</th>
                    <th>Permissões</th>
                    {% endif %}
                    <th>Número</th>
                    <th>Usuários Vinculados</th>
                    <th>Saldo Atual</th>
                    <th>Agencia | Banco</th>
                    <th>Status</th>
                    <th>Criado em:</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for account in accounts|sort((a, b) => a.number <=> b.number) %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <i class="badge bg-primary">{{ account.id }}</i>
                    </td>
                    <td>
                        {% if not account.isActive %}
                            <a class="btn btn-sm btn-success" href="{{ path('app_account_enable', {'id': account.id}) }}">
                                HABILITAR
                            </a>
                        {% else %}
                            Conta Cliente Ativa
                        {% endif %}
                    </td>
                    {% endif %}
                    <td>{{ account.number }}</td>
                    <td>
                        {# {{account.users|join(', ')}} | #}
                        {% for acc in account.users %}
                            {{acc.email|join(', ')}}
                        {% endfor %}
                    </td>
                    <td>{{ account.balance|format_currency('BRL') }}</td>
                    <td>{{ account.agency }} - {{account.agency.bank}}</td>
                    <td>{{ account.isActive ? 'Ativa' : 'Inativa' }}</td>
                    <td>{{ account.createdAt|date('d/m/Y g:i:sA', "America/Sao_Paulo") }}</td>
                    <td>
                        <a class="btn btn-sm" href="{{ path('app_account_show', {'id': account.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-sm" href="{{ path('app_account_edit', {'id': account.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr class="text-center">
                    <td colspan={{8}}>Não há contas cadastradas.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
