{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <h1>Conta <span class="lead fw-bold">{{ account.number }}</span></h1>

    <table class="table">
        <tbody> 
            <tr>
                <th>Id</th>
                <td>{{ account.id }}</td>
            </tr>
            <tr>
                <th>Numero da Conta</th>
                <td>{{ account.number }}</td>
            </tr>
            <tr>
                <th>Saldo Atual</th>
                <td>{{ account.balance|format_currency('BRL') }}</td>
            </tr>
            <tr>
                <th>Tipo de Conta</th>
                {% if account.type == 1 %}
                    <td>Conta Corrente</td>
                {% elseif account.type == 2 %}
                    <td>Conta Poupança</td>
                {% elseif account.type == 3 %}
                    <td>Conta Salário</td>
                {% endif %}
            </tr>
            <tr>
                <th>Agência</th>
                <td>{{ account.agency }}</td>
            </tr>
            <tr>
                <th>Banco</th>
                <td>{{ account.agency.bank }}</td>
            </tr>
            <tr>
                <th>Clientes</th>
                <td>
                    {{ account.clients|join(', ') }}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex align-items-center justify-content-between py-3">
        <a class="btn btn-outline-dark" href="{{ path('app_account_index') }}">Voltar a Lista</a>
        <a class="btn btn-dark" href="{{ path('app_account_edit', {'id': account.id}) }}">Editar Conta</a>
    </div>

    {% if account.status == 2 %}
        <h2 class="border-bottom py-3 my-3">Ações</h2>
        {{ include('account/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
