{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}


{{ form_start(form) }}
    {# <div>{{ form_errors(form) }}</div> #}

    {% if not form.vars.valid %}
    <ul class="text-danger mt-3 list-unstyled">
        {# Loop through every form item #}
        {% for child in form.children %}
            {# Display the errors of the form item #}
            {% for error in child.vars.errors %}
                <li> <i class="fa fa-exclamation-circle fa-1x me-2"></i> {{error.message}}</li>
            {% endfor %}
        {%endfor%}
    </ul>
    {%endif%}

    <div class="d-flex gap-2">
        <div class="col">
            <label class="fw-bold py-3">Nome</label>
            {% if name|length > 0 %}
                <input type="text" id="manager_name" name="manager[name]" class="form-control" value={{name}}>
            {% else %}
                <input type="text" id="manager_name" name="manager[name]" class="form-control">
            {% endif %}
        </div>
        <div class="col">
            <label class="fw-bold py-3">Email</label>
            {% if email|length > 0 %}
                <input type="text" id="manager_email" name="manager[email]" class="form-control" value={{email}}>
            {% else %}
                <input type="text" id="manager_email" name="manager[email]" class="form-control">
            {% endif %}
        </div>
    </div>


    {{ form_label(form.plainPassword, null, {'label': 'Informe uma senha:', 'label_attr': {'class': 'fw-bold py-3'} }) }}
    {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}

    <div>
        {{ form_label(form.agency, 'Selecione a Agencia (opcional):', {'label_attr': {'class': 'fw-bold py-3'}}) }}
    </div>
    <div>
        {{ form_widget(form.agency, {'attr': {'class': 'form-control'}}) }}
    </div>

    {# <div>
        <label class="fw-bold py-3">Selecione a Agencia (opcional):</label>
        <select id="manager_account" name="manager[agency]" class="form-control text-uppercase">
            {% for ag in agencies %}
                <option value=""></option>
                <option value={{ag.id}}>{{ ag.number }}</option>
            {% endfor %}
        </select>
    </div> #}

    <div class="d-flex align-items-center justify-content-between py-3">
        <a class="btn btn-outline-dark" href="{{ path('app_manager_index') }}">Voltar para a Lista</a>
        <button class="btn btn-dark" type="submit">{{ button_label|default('Salvar') }}</button>
    </div>
{{ form_end(form) }}