{% extends 'base.html.twig' %}

{% block title %}Gerente index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h3>Lista de Gerentes</h3>
        <a href="{{ path('app_manager_new') }}" class="btn btn-outline-dark fw-bold">Criar Gerente</a>
    </div>
    <div class="table-responsive-sm mt-4">
        <table class="table table-borderless table-striped">
            <caption class="mt-4">Lista de Gerentes</caption>
            <thead class="fs-5 border-top">
                <tr>
                    {# <th scope="col">Id</th> #}
                    <th scope="col">Nome</th>
                    <th scope="col">Agencia | Banco</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for manager in managers %}
                <tr>
                    {# <td>
                        <i class="badge bg-primary">{{ manager.id }}</i>
                    </td> #}
                    <td>{{ manager.name }}</td>
                    <td>{{ manager.agency ? manager.agency : 'NA' }} - {{ manager.agency ? manager.agency.bank : 'NA' }}</td>
                    <td>
                        <a class="btn btn-sm" href="{{ path('app_manager_show', {'id': manager.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-sm" href="{{ path('app_manager_edit', {'id': manager.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr class="text-center">
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
