{% extends 'base.html.twig' %}

{% block title %}Manager{% endblock %}

{% block body %}
    <h1>Gerente {{manager.name}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ manager.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ manager.name }}</td>
            </tr>
            <tr>
                <th>Agency</th>
                <td>{{ manager.agency ? manager.agency.number : 'NA' }}</td>
            </tr>
            <tr>
                <th>Bank</th>
                <td>{{ manager.agency and manager.agency.bank ? manager.agency.bank.name : 'NA' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center">
        <a class="btn btn-outline-dark" href="{{ path('app_manager_index') }}">Voltar para a Lista</a>
        <a class="btn btn-dark" href="{{ path('app_manager_edit', {'id': manager.id}) }}">Editar Gerente</a>
    </div>

    <h2 class="border-bottom py-3 my-3">Ações</h2>
    {{ include('manager/_delete_form.html.twig') }}
{% endblock %}
