{% extends 'login.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container container-login">
        <h1 class="py-5 quicksand-font">my<b>Bank</b></h1>
        <div class="form-group">
            {% if error %}
                <div class="alert alert-danger py-1 px-2" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('app_login') }}" method="POST">
                <label class="fw-bold" for="username">Email:</label>
                <input class="form-login form-control border-dark border-bottom border-0 rounded-0 bg-white mt-2 mb-4" type="text" id="username" name="_username" value="{{ last_username }}">
                
                <label class="fw-bold" for="password">Senha:</label>
                <input class="form-login form-control border-dark border-bottom border-0 rounded-0 bg-white my-2" type="password" id="password" name="_password">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="d-grid mt-5 quicksand-font">
                    <button type="submit" class="btn btn-dark">Fazer Login</button>
                </div>
            </form>

            <small class="text-center d-flex justify-content-center align-items-center quicksand-font">Ainda não possui Conta? <a href="{{ path('app_register') }}" class="fw-bold nav-link px-2 text-dark">Cadastre-se.</a> </small>
        </div>
    </div>
{% endblock %}
