{% extends 'base.html.twig' %}

{% block title %}Bank index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h3>Lista de Bancos ({{banks|length}})</h3>
        <a href="{{ path('app_bank_new') }}" class="btn btn-outline-dark fw-bold">Criar Banco</a>
    </div>
    {# <hr> #}

    <div class="table-responsive-sm mt-4">
        <table class="table table-borderless table-striped">
            <caption class="mt-4">Lista de Bancos</caption>
            <thead class="fs-5 border-top">
                <tr>
                    {# <th scope="col">Id</th> #}
                    <th scope="col">Nome do Banco</th>
                    <th scope="col">Agências</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for bank in banks %}
                <tr>
                    {# <td>
                        <i class="badge bg-primary">{{ bank.id }}</i>
                    </td> #}
                    <td class="text-uppercase">{{ bank.name }}</td>
                    <td>{{ bank.agencies|length }}</td>
                    <td>
                        <a class="btn btn-sm" href="{{ path('app_bank_show', {'id': bank.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-sm" href="{{ path('app_bank_edit', {'id': bank.id}) }}">
                          <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr class="text-center">
                    <td colspan="3" class="text-center">Não há bancos cadastrados.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
