{% extends 'base.html.twig' %}

{% block title %}Bank{% endblock %}

{% block body %}
    <h1>{{bank.name}}</h1><hr>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bank.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ bank.name }}</td>
            </tr>
            <tr>
                <th>Agencias Vinculadas</th>
                <td>{{ bank.agencies|length }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex align-items-center justify-content-between py-3">
        <a class="btn btn-outline-dark" href="{{ path('app_bank_index') }}">Voltar a Lista</a>
        <a class="btn btn-dark" href="{{ path('app_bank_edit', {'id': bank.id}) }}">Editar Banco</a>
    </div>

    <h2 class="border-bottom py-3 my-3">Ações</h2>
    {{ include('bank/_delete_form.html.twig') }}
{% endblock %}
