{% extends 'base.html.twig' %}

{% block title %}Users List index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h3>Lista de Usuários ({{users|length}})</h3>
    </div>
    {# <hr> #}

    <div class="table-responsive-sm mt-4">
        <table class="table table-borderless table-striped">
            <caption class="mt-4">Lista de Usuários</caption>
            <thead class="fs-5 border-top">
                <tr>
                    <th>Id</th>
                    <th class="d-flex flex-row align-items-center">Nome <i class="fa-solid fa-1x ms-2 text-dark-25 fa-user-tag"></i></th>
                    <th class="">Privilégios <i class="fa-solid fa-1x ms-2 text-dark-25 fa-sliders"></i></th>
                    <th class="">Email <i class="fa-regular fa-1x ms-2 text-dark-25 fa-envelope"></i></th>
                    <th class="d-flex flex-row align-items-center">Cliente? <i class="fa-solid fa-1x ms-2 text-dark-25 fa-user-check"></i></th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="fw-bold">{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.client is same as null ? 'Não' : 'Sim'}}</td>
                    <td>
                        <a class="btn btn-sm" href="{{ path('app_user_show', {'id': user.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-sm" href="{{ path('app_user_edit', {'id': user.id}) }}">
                          <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr class="text-center">
                    <td colspan="4" class="text-center">Não há Usuários cadastrados.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
