{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h3>Lista de Transações ({{transactions|length}})</h3>

        {% if not is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('app_transaction_new') }}" class="btn btn-outline-dark fw-bold">Criar Transação</a>
        {% endif %}
    </div>

    <div class="table-responsive-sm mt-4">
        <table class="table table-borderless table-striped">
            <caption class="mt-4">Lista de Transações</caption>
            <thead class="fs-5 border-top">
                <tr>
                    {# <th>Id</th> #}
                    <th>Tipo de Operação</th>
                    <th>Conta</th>
                    <th>Valor</th>
                    <th>Descriçao</th>
                    <th>Data da Transação</th>
                    <th>Criado Por</th>
                    <th>Privilégios</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    {# <td>{{ transaction.id }}</td> #}
                    <td>{{ transaction.operation is same as '1' ? 'Saque' : transaction.operation is same as '2' ? 'Depósito' : 'Transferencia'}}</td>
                    <td>{{ transaction.account.number }}</td>
                    <td>{{ transaction.value ? transaction.value|format_currency('BRL') : '' }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.date ? transaction.date|date('d/m/Y - h:m:s') : '' }}</td>
                    <td>{{ transaction.client ? transaction.client.name : 'NA' }}</td>
                    <td>{{ transaction.client ? transaction.client.user.roles[0] : 'NA' }}</td>
                    <td>
                        <a class="btn btn-sm" href="{{ path('app_transaction_show', {'id': transaction.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        {# <a class="btn btn-sm" href="{{ path('app_transaction_edit', {'id': transaction.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a> #}
                    </td>
                </tr>
            {% else %}
                <tr class="text-center">
                    <td colspan="8">Não há transações realizadas.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
