{% extends 'base.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
    <h1>Transação</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Operation</th>
                <td>{{ transaction.operation }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ transaction.value }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ transaction.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ transaction.date ? transaction.date|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Criado por</th>
                <td>{{ transaction.client.name }}</td>
            </tr>
        </tbody>
    </table>


    <div class="d-flex align-items-center justify-content-between py-3">
        <a class="btn btn-outline-dark" href="{{ path('app_transaction_index') }}">Voltar a Lista</a>
        <a class="btn btn-dark" href="{{ path('app_transaction_edit', {'id': transaction.id}) }}">Editar Transação</a>
    </div>

    <h2 class="border-bottom py-3 my-3">Ações</h2>

    {{ include('transaction/_delete_form.html.twig') }}
{% endblock %}
