{% extends 'base.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
    <h1>Transação</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Tipo de Operação</th>
                <td>{{ transaction.operation == 2 ? 'Depósito' : transaction.operation == 1 ? 'Saque' : 'Transferência'}}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ transaction.value|format_currency('BRL') }}</td>
            </tr>
            <tr>
                <th>Descrição</th>
                <td>{{ transaction.description }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ transaction.createdAt|date('d/m/y H:i:s', "America/Sao_paulo") }}</td>
            </tr>
            <tr>
                <th>Criado por</th>
                <td>{{ transaction.client ? transaction.client.user.name : 'NA' }}</td>
            </tr>
        </tbody>
    </table>


    <div class="d-flex align-items-center justify-content-between py-3">
        <a class="btn btn-outline-dark" href="{{ path('app_transaction_index') }}">Voltar a Lista</a>
        {# <a class="btn btn-dark" href="{{ path('app_transaction_edit', {'id': transaction.id}) }}">Editar Transação</a> #}
    </div>


    {# <h2 class="border-bottom py-3 my-3">Ações</h2>
    {{ include('transaction/_delete_form.html.twig') }} #}
{% endblock %}
